@font-face {
  font-family: "Steelfish Rounded Bold";
  src: url("https://moscowtime.xyz/steelfish_rounded_bold.woff2")
      format("woff2"),
    url("https://moscowtime.xyz/steelfish_rounded_bold.woff") format("woff"),
    url("https://moscowtime.xyz/steelfish_rounded_bold.ttf") format("truetype");
}

@font-face {
  font-family: "Courier Prime Bold";
  src: url("https://moscowtime.xyz/courier_prime_bold.woff2")
      format("woff2"),
    url("https://moscowtime.xyz/courier_prime_bold.woff") format("woff"),
    url("https://moscowtime.xyz/courier_prime_bold.ttf") format("truetype");
}

#blockclock-container {
  display: flex;
  margin: 0;
  text-align: center;
  position: relative;
  cursor: default;
  pointer-events: none;
}

#blockclock {
  background-size: contain;
  background-image: url("https://moscowtime.xyz/blockclock-with-frame.png");
  position: absolute;
  width: 100%;
  border-radius: 4%/12.5%;
}

#blockclock-digits {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
  height: 12.3%;
  margin-left: 10%;
  margin-top: 5.5%;
  position: relative;
}

.blockclock-cell {
  width: 12%;
  color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.blockclock-digit-content {
  width: 100%;
  padding-left: 10%;
  flex-grow: 1;
}

.blockclock-special-content {
  padding-top: 7.5%;
  flex-grow: 1;
  width: 100%;
  text-align: center;
}

.blockclock-special-content,
.blockclock-digit-content {
  font-family: "Steelfish Rounded Bold", monospace;
  line-height: 0.85;
}

.blockclock-special-content {
  line-height: 0.925;
}

.blockclock-top-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  letter-spacing: 0.15em;
  min-height: 12%;
  height: 12%;
  font-family: 'Courier Prime Bold', monospace;
}

.blockclock-special-upper {
  margin-bottom: 5%;
}

.blockclock-special-upper-small {
  margin-top: 15%;
}

.blockclock-special-separator {
  background-color: #e7e7e7;
  border-radius: 1rem;
  margin-top: 10%;
  min-height: 1px;
  height: 0.1em;
  margin-bottom: 8%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
