#blockclock-container {
  display: flex;
  margin: 0;
  text-align: center;
  position: relative;
  user-select: none;
}

#blockclock {
  background-size: contain;
  position: absolute;
  width: 100%;
  border-radius: 4%/12.5%;
}

#blockclock-digits {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 80%;
  height: 12.3%;
  margin-left: 10%;
  margin-top: 5.5%;
  position: relative;
}

.blockclock-cell {
  width: 12%;
  color: #e7e7e7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.blockclock-special {
  padding-top: 0.2em;
  flex-grow: 1;
  width: 100%;
  text-align: center;
  line-height: 0.925;
}

.blockclock-content {
  font-family: 'Steelfish Rounded Bold', monospace;
  line-height: 0.85;
}

.blockclock-top-section {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 0.125em;
  min-height: 12%;
  height: 12%;
  font-family: 'Courier Prime Bold', monospace;
  overflow: hidden;
  white-space: nowrap;
}

.blockclock-special-upper {
  margin-bottom: 5%;
}

.blockclock-special-upper-small {
  margin-top: 15%;
}

.blockclock-special-separator {
  background-color: #e7e7e7;
  border-radius: 1rem;
  margin-top: 10%;
  min-height: 1px;
  height: 0.1em;
  margin-bottom: 8%;
  max-width: 85%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}
